[alias]
	alias = config --get-regexp ^alias
	ss = status
	br = branch
	brm = branch -m
	brd = branch -d
	brdd = branch -D
	co = checkout
	cob = checkout -b
	bc = !git checkout $(git branch | fzf | sed \"s/^[ *]*//\")
	fe = fetch
	pl = pull
	plr = pull -r
	pu = push
	ada = add -A
	adu = add -u
	cm = commit
	mg = merge --no-ff
	mgff = merge -ff
	cp = cherry-pick
	tree = log --graph --pretty=format:'%x09%C(auto) %h %C(green) %ar %Creset%x09%C(cyan ul)%an%C(reset) %x09%C(auto)%s %d'
	logo = log --oneline --date=short --pretty=format:'%C(auto)%h %C(cyan)%an%C(reset) %C(auto)%s %d'
	logn = log --name-status --oneline
